@model WebApplication75.ViewModel.MovieViewModel
@{
    ViewBag.Title = "List of Movies";
}
<br />
<h4>List Of Movies</h4>
<br />

<table class="table table-bordered table-hover" id="movietbl">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Stock Quantity</th>
            <th>Avaliability Quantity</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.GetMovies)
        {
        <tr>
            <td>@Html.ActionLink(movie.MovieName, "Edit", new { id = movie.Id })</td>
            <td>@movie.ReleaseDate</td>
            <td>@movie.Genre.GenreName</td>
            <td>@movie.Price</td>
            <td>@movie.NumberInStock</td>
            <td>@movie.NumberAvaliable</td>
            <td><button data-movie-id="@movie.Id" class="btn-link js-delete">Delete</button></td>
        </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Add New Movies", "New", "Movie", new { @class = "elements" }, null)
@section scripts
{
    <script>
        $(document).ready(function () {

            $("#movietbl").dataTable();

            $("#movietbl .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this movie?") == true) {
                    $.ajax({
                        url: "/api/movies/" + button.attr("data-movie-id"),
                        method: "DELETE",
                        success: function () {
                            button.parent("tr").remove();
                            location.reload(true);
                        }
                    });
                }

            });

        });


    </script>


}