@model WebApplication75.ViewModel.CustomerViewModel
<br />
<h4>List Of Registered Customers</h4>
<br />

@if (Model.GetCustomers.Count == 0)
{
    <p>No Customer has rented this movie</p>
}
else
{
    <table class="table table-bordered table-hover" id="customertbl">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Discount Rate</th>
                <th>Valid Subscription</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.GetCustomers)
            {
                <tr>
                    <td>@Html.ActionLink(customer.CustomerName, "Edit", new { id = customer.CustomerId })</td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                    <td>
                        @if (customer.IsSubscribed == true)
                        {
                            <span>Valid Subscriber</span>
                        }
                        else
                        {
                            <span>Not A Subscriber</span>
                        }
                    </td>
                    <td>@customer.MembershipType.Name</td>
                    <td><button data-customer-id="@customer.CustomerId" class="btn-link js-delete">Delete</button></td><!---the class called btn-link makes a button look like a link-->
                </tr>
            }

        </tbody>
    </table>
}
@Html.ActionLink("Add New Customer", "New", "Customer", new { @class = "" }, null)
@section scripts
{
    <script>
        $(document).ready(function () {

            $("#customertbl").dataTable();

            $("#customertbl .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this customer?") == true) {
                    $.ajax({
                        url: "/api/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            button.parent("tr").remove();
                            location.reload(true);
                        }
                    });
                }

            });
        });

      
    </script>


}